.header{
    background-color: #FFF8F3;
    background-image: url(../Assets/images/header_bg.png), url(../Assets/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.banner {
    margin: 50px 190px;
    display: flex;
    align-items: center;
}

.banner-image {
    width: 684px;
    height: 676px;
}

.banner-subtitle {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.banner-title {
    color: #181818;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    width: 585px;
    margin-bottom: 30px;
}
