main {
    max-width: 1140px;
    margin: 0 auto;
}

/* ABOUT ME SECTION */
.about-me {
    border-radius: 10px;
    background: #fff8f3;
    margin-top: 130px;
    padding: 130px 150px;
    text-align: center;
}

.about-title {
    font-size: 35px;
    font-weight: 700;
    color: var(--Dark-01, #181818);
    margin-bottom: 30px;
}

.about-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    margin-top: 30px;
}
.about-info-title {
    color: #757575;
    text-align: center;
    font-size: 15px;
}

.about-info-description {
    color: #474747;
    font-size: 18px;
    font-weight: 700;
}

/* WHAT I DO SECTION */

.what-i-do {
    margin-top: 130px;
    text-align: center;
}
.what-i-do-title {
    font-size: 35px;
    font-weight: 700;
    color: var(--Dark-01, #181818);
    margin-bottom: 30px;
}

.what-i-do-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    padding-left: 115px;
    padding-right: 115px;
    line-height: 30px;
    margin-bottom: 50px;
}

.skills {
    margin-top: 50px;
    display: flex;
    gap: 24px;
}

.skills-container {
    text-align: left;
    border-radius: 5px;
    background: #ffff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill-title {
    color: var(--Dark-01, #181818);
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: var(--Dark-03, #757575);
    font-size: 16px;
    line-height: 28px;
}

/* RESUME SECTION */

.resume-container {
    display: flex;
    gap: 24px;
}
.resume-title {
    margin-top: 130px;
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 113px;
}

.resume-subtitle {
    color: var(--Dark-02, #474747);
    font-size: 30px;
    font-weight: 700;
}
.resume-subsection-title {
    color: var(--Dark-02, #474747);
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
}

.resume-subsection {
    border-bottom: 1px solid #d1d1d1;
}

.resume-subsection-institute {
    color: var(--Dark-03, #757575);
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.resume-subsection-description {
    color: var(--Dark-03, #757575);
    font-size: 16px;
    line-height: 28px;
    margin-top: 20px;
    padding-bottom: 30px;
}

.cv-button {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 113px;
}

@media screen and (max-width: 576px) {
    .skills,
    .resume-container {
        flex-direction: column;
        padding: 20px 10px;
    }

    .about-info-container,
    .about-me,
    .what-i-do-description {
        flex-direction: column;
        padding: 20px 10px;
    }
    .resume-subtitle {
        text-align: center;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .skills,
    .resume-container {
        flex-direction: column;
        padding: 20px 10px;
    }
    .resume-subtitle {
        text-align: center;
    }
    .about-info-container,
    .about-me,
    .what-i-do-description {
        flex-direction: column;
        padding: 20px 10px;
    }
}
