.nav-title {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 190px 50px;
    padding-top: 50px;
}

.nav ul {
    display: flex;
    align-items: center;
}

.nav li {
    list-style: none;
    margin-left: 30px;
}

@media screen and (max-width: 576px) {
    .nav,
    ul,
    li {
        flex-direction: column;
        padding-top: 10px;
        
    }
    .nav{
        margin: 10px 20px;git
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
}
